header{
    min-height: 100vh;
    background: url("../../images/Rectangle.png");
    background-size: cover;
    background-position: center;

    width: 100%;
height: 690px;
}

header .wrapper{
    position: relative;
    height: 100vh;
}

header .cta{
    position: absolute;
    width: 453px;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border-color: white;
    border-style: solid;
    border-width: 4px 4px 0px 4px   ;
    border-radius: 20px 20px 0px 0px;

    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, 0.5);

    padding: 30px 30px;
}
header .cta .coursename{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 800;
line-height: 19px;

text-align: left;
position: relative;
}

header .cta .coursename::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    flex-shrink: 0;
    background: #E63946;
    left:0;
    bottom: -5px;

}
header .cta h1{
    width: 373px;
    color: #FFF;
font-family: Alegreya;
font-size: 40px;
line-height: 140%;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 10px 0px;
padding-bottom: 20px;
}
header .cta .demo{
    color:white;
    background-color: red;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 32px;

}